[Desktop Entry]
X-Nemo-Application-Type=silica-qt5
Type=Application
Name=ToeTerm
Categories=Utility
Exec=/usr/bin/invoker --single-instance --type=e /usr/bin/toeterm
Icon=toeterm
